h1 { 
    
border: 1px blue currentColor;
background-color: aqua;
 font-size: 200%; 
 background-color: rgb(0, 255, 170); 
 text-align: center;
}
.menu { 
    height: 500px;
    border: 2px blueviolet currentColor;
    float: left;
    width: 18%;
    margin: 3px;
  padding: auto;
  background-color: rgb(0, 255, 170); 
}

img.pequeña{
    width: 350px; height: 200px;
    margin: 0px 100px 10px;
	text-align: 50%;
  border-image-slice: initial;
  }

.principal { 
    height: 500px;
    border: 2px rgb(0, 100, 250) currentColor;
    float: left;
    width: 50%;
    margin: 2px;
  padding: 0;
  background-color: rgb(0, 255, 170); 
}

.secundario {
    height: 500px;
    border: 2px saddlebrown currentColor;
    float: left;
    width: 30%;
    margin: 3px;
  padding: auto;
  background-color: rgb(0, 255, 170); 

}

.pie {
    height: 200px;
    border: 2px rgb(0, 100, 250) currentColor;
    float: left;
    width: 50%;
    margin: 2px;
  padding: 0;
  background-color: rgb(0, 255, 170); 
}